<%=form_for @judge, html: {class: "form-horizontal col-sm-8", role: "form"} do |f|%>
<div class="form-group">
  <%=f.label t(:name), class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label :dci, class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%= f.text_field :dci,class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label t(:level), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.select :level, options_for_select(Judge.levels),{class: 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:father), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.select :parent_judge_id, options_for_select(@judges.collect{|j| [j.name+" ("+j.level+" - "+j.tree_string+")", j.id]}),{class: 'form-control', prompt: t("Father")} %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:country), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.select :country, options_for_select(@countries, @judge.country.upcase),{class: 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:country_tree), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.select :country_tree, options_for_select(@countries, @judge.country_tree.upcase),{class: 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <button type="submit" class="btn btn-primary"><%= t("Update") %></button>
  </div>
</div>
<% end %>