<%=form_for @judge, html: {class: "form-horizontal col-sm-8", role: "form"} do |f|%>
<div class="form-group">
  <%=f.label t(:name), class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%=f.text_field :name, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label :dci, class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%=f.text_field :dci, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label t(:level), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= select_tag 'judge[level]', options_for_select(Judge.levels),{class: 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:father), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= select_tag 'judge[parent_judge_id]', options_for_select(@judges.collect{|f| [f.name, f.id]}),{prompt: 'Father', class: 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:country), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= select_tag 'judge[country]', options_for_select(@countries,@last_country),{prompt: 'Country', class: 'form-control', selected: 'br'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:country_tree), class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= select_tag 'judge[country_tree]', options_for_select(@countries, @last_tree),{prompt: 'Which tree?', class: 'form-control', selected: 'br'} %>
  </div>
</div>
<div class="form-group">
  <%=f.label t(:l2_certificator) , class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%= f.text_field :l2_cert,class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label t(:l3_certificator) , class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%= f.text_field :l3_cert,class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <button type="submit" class="btn btn-primary"><%= t("Create") %></button>
  </div>
</div>
<% end %>