<h2>Change your password</h2>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),html: {class: "form-horizontal col-sm-8", role: "form", method: :put}) do |f| %>
<%= devise_error_messages! %>
<%= f.hidden_field :reset_password_token %>
<div class="form-group">
  <%=f.label :password,"New password", class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%=f.password_field :password, autofocus: true,  class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label :password_confirmation,"Confirm password", class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%=f.password_field :password_confirmation , autofocus: true,  class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <button type="submit" class="btn btn-primary">Change my password</button>
    <%= render "devise/shared/links" %>
  </div>
</div>
<% end %>

