<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),html: {class: "form-horizontal col-sm-8", role: "form"}) do |f| %>

<div class="form-group">
  <%=f.label :email, class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%=f.text_field :email, autofocus: true,  class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label :password, class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%=f.password_field :password , autofocus: true,  class: 'form-control' %>
  </div>
</div>
<div class="form-group">
 <% if devise_mapping.rememberable? -%>
 <div class="col-sm-offset-2 col-sm-6"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
 <% end -%>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <button type="submit" class="btn btn-primary">Sign in</button>
    <%= render "devise/shared/links" %>
  </div>
</div>
<% end %>
