<div class="page-header">
  <h1><%= @country.name %> <%= t("judge_tree") %> <small>(<%=@judge_count%></span> <%=t :Judges %>)</small></h1>
</div>

<div id="tree"></div>
<%= render_chart(@chart, 'tree') %>